<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="https://seeklogo.com/images/S/super-mario-logo-D963B3DACA-seeklogo.com.png">
    <link rel="stylesheets" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <p>Bienvenido a Ferrari Retro Club</p>
    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj5LObPKHqN9z9GzHfRBet1YcuStByo2ypVmwYtBBKkipMQ-meXUvVINT2qes4xF5OXGWQE3tiJsjR8SAe7sP4O66Jk8B3bLK4YyjrroJOz34YjictwPEU15klzyXVQHisRs1ZlfYsDBNO7sMWywGTfJP5-e4k5FoyZqHYFIDt10PRjWIydmKzjLoMykqhy/s1600-rw/video-game-ferrari-testarossa-solar-eclipse-high-speed-wallpaper.webp" alt="Testarossa">
    <br>
    <button class="inicio_input" onclick="window.location.href='/login';">Iniciar sesión</button>
  </body>
</html>
