<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="https://seeklogo.com/images/S/super-mario-logo-D963B3DACA-seeklogo.com.png">
    <link rel="stylesheet" href="../public/stylesheets/login.css">
</head>

<body>
    <form class="formulario_login" action="/login" method="post">
        <label class="formulario_label" for="usuario">Usuario:</label>
        <input class="formulario_input" type="text" id="usuario" name="usuario" required>
        <label class="formulario_label" for="contrasena">Contraseña:</label>
        <input class="formulario_input" type="password" id="contrasena" name="contrasena" required>
        <button class="login_button" type="submit">Enviar</button>
    </form>
</body>
</html>