body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.formulario__input {
    margin-bottom: 20px;
}